@charset 'UTF-8';
//引入初始化样式
@import "./base.less";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.product-combination,
.product-details {
  .el-tabs__nav {
    border: 0 !important;
  }
  .el-tabs__item {
    &:last-child {
      border-right: 1px solid #ddd;
    }
  }
  .el-tabs__header {
    margin: 0;
  }
}

// 设置购物车里面的进度条的样式
.shopping-cart-header {
  .el-step__title.is-process,
  .el-step__head.is-process {
    color: #409eff !important;
    border-color: #409eff;
  }
}

.shopping-recommend {
  .el-tabs__nav-wrap::after {
    width: 0;
  }
}

.el-menu-item i,
.el-menu-item.is-active i,
.el-submenu__title i,
.el-menu-item span {
  color: #fff !important;
}

.el-menu-item-group__title {
  padding: 0;
}

.el-menu--popup {
  padding: 0;
}

.search-main {
  .screen-selection {
    .el-checkbox__label {
      font-size: 12px !important;
    }
  }
  .el-tabs__header {
    margin: 0;
    background-color: #eee;
  }
  .el-tabs__nav-scroll {
    border: 1px solid #dadada;
    border-bottom: none;
    .el-tabs__nav {
      border: none;
    }
    .el-tabs__item {
      border-top: none;
      border-left: none;
      border-right: 1px solid #dadada;
      border-bottom: 1px solid #dadada;
      &.is-active {
        background-color: #fff;
      }
    }
  }
  .el-tabs__content {
    overflow: inherit;
  }
  .el-tab-pane {
    padding-top: 40px;
    border: 1px solid #dadada;
    border-top: 0;
  }

  .el-input__inner {
    width: 60px;
    height: 25px;
  }
}

.order-details {
  .el-step__head.is-process {
    color: #409eff;
    border-color: #409eff;
  }
  .el-step__title.is-process {
    color: #409eff;
    font-weight: normal;
  }
}

.personal-data{
    .el-progress-bar__inner{
        background-color: #FF952F;
    }
}
