.layout-main {
  overflow: hidden;
  padding-bottom: 20px;
}

// 轮播图最外层的壳子
.layout-main-banner {
  height: 460px;
  // 轮播
  .banner {
    width: 810px;
    min-width: 810px;
    height: 460px;
    .el-carousel__container {
      height: 460px;
    }
  }
  // 广告
  .banner-menu {
    width: 210px;
    min-width: 210px;
    height: 460px;
    text-align: center;
    .user-img {
      padding-top: 15px;

      i {
        display: inline-block;
        width: 64px;
        height: 64px;
        background: url("../assets/image/home_sprites.png") -94px -10px;
        &.active {
          background-position: -10px -10px;
        }
      }
    }
    .user-name {
      font-size: 14px;
      color: #999;
      padding-top: 8px;
      margin-bottom: 15px;
    }

    .operate-btn{
        a {
            color: #fff;
        }
    }

    .user-operate {
      display: flex;
      padding: 12px 0;
      border-bottom: 1px solid #ddd;
      li {
        width: 25%;
        border-right: 1px solid #2d8ff4;
        &:last-child {
          border-right: 0;
        }
        a:hover{
            color: #2d8ff4;
        }
      }
    }

    .seller-promise {
      padding-top: 14px;
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #ddd;
      li {
        width: 33.33%;
        margin-bottom: 14px;
        i {
          display: inline-block;
          width: 48px;
          height: 56px;
          background: url("../assets/image/home_sprites.png") -178px -10px;
        }

        &:nth-child(2) i {
          background-position: -78px -170px;
        }
        &:nth-child(3) i {
          background-position: -10px -170px;
        }
        &:nth-child(4) i {
          background-position: -178px -86px;
        }
        &:nth-child(5) i {
          background-position: -10px -94px;
        }
        &:nth-child(6) i {
          background-position: -146px -170px;
        }
      }
    }

    .notice-info{
        .info-title{
            padding: 10px 0;
            span{
                display: inline-block;
                width: 48%;
                cursor: pointer;
                border-right: 1px solid #2d8ff4;
                &:last-child{
                    border-right: 0;
                }
                &.active {
                    color: #2d8ff4;
                }
            }
        }
        .info{
            margin-top: 10px;
            padding: 0 18px;
            a{
                display: block;
                margin-bottom: 6px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space:nowrap;
                &:hover{
                    color: #2d8ff4;
                }
                span{
                    color: #2d8ff4;
                }
            }
            
        }
    }





    .other {
      margin-top: 10px;
      p {
        padding: 10px 0;
      }
    }

    .other-link {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 33.33%;
        margin-bottom: 14px;
        a {
          display: inline-block;
          width: 40px;
          height: 40px;
          background: url("../assets/image/home_sprites.png") -246px -10px;
        }

        &:nth-child(2) a {
          background-position: -10px -246px;
        }
        &:nth-child(3) a {
          background-position: -70px -246px;
        }
        &:nth-child(4) a {
          background-position: -85px -100px;
        }
        &:nth-child(5) a {
          background-position: -246px -70px;
        }
        &:nth-child(6) a {
          background-position: -130px -246px;
        }
        &:nth-child(7) a {
          background-position: -246px -130px;
        }
      }
    }
  }
}
// 秒杀倒计时壳子
.layout-main-seckill {
  margin-top: 35px;
  padding: 0;
  .seckill-container {
    display: flex;
    justify-content: space-between;
    height: 44px;
    line-height: 44px;
    background-color: #e01222;
    .seckill-title {
      margin-left: 30px;
      span {
        font-size: 20px;
        color: #fff;
      }
      i {
        display: inline-block;
        position: relative;
        top: 6px;
        left: 20px;
        width: 27px;
        height: 30px;
        background: url(../assets/image/fenlei.png) no-repeat -51px -10px;
      }
    }
    .seckill-time {
      margin-right: 23px;
      span {
        color: #fff;
        &:nth-child(2n) {
          background-color: #440106;
          padding: 5px;
          font-size: 20px;
        }
      }
    }
  }
}
// 特色会场壳子
.layout-main-characteristic {
  position: relative;
  margin-top: 50px;
  .characteristic-line {
    position: relative;
    top: 30px;
    height: 50px;
    p {
      height: 1px;
      border: 1px solid #e44b7d;
    }
  }
  .characteristic-title {
    position: absolute;
    top: 0;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    background-color: #fff;
    z-index: 10;
    h1 {
      font-weight: 100;
      font-size: 40px;
      background-image: -webkit-gradient(
        linear,
        0 0,
        0 bottom,
        from(rgba(227, 100, 81, 1)),
        to(rgba(235, 137, 166, 1))
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  // 特色会场
  .characteristic-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    .characteristic-item {
      width: 19%;
      margin-right: 1.2%;
      margin-bottom: 1.2%;
      &:nth-child(5n) {
        margin-right: 0;
      }
      &:nth-child(2n) a {
        background: linear-gradient(to bottom, #25ceb7 0%, #5cedd9 100%);
      }
      &:nth-child(3n) a {
        background: linear-gradient(to bottom, #5b70ff 0%, #7788ff 100%);
      }
      a {
        display: block;
        position: relative;
        height: 240px;
        background: linear-gradient(to bottom, #ff7271 0%, #fc8e8d 100%);
        border-radius: 10px;
        .characteristic-fff {
          position: absolute;
          width: 100%;
          height: 135px;
          background: url(../assets/image/pro_bg.png) no-repeat;
          background-size: 90%;
          left: 12px;
          bottom: -16px;
          text-align: center;
          padding: 25px 35px 0;
          cursor: pointer;
          .characteristic-border {
            position: relative;
            left: -10px;
          }
          h3 {
            font-size: 18px;
          }
          p {
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px dashed #999;
          }
        }
      }
    }
  }
}
// 热门类目
.layout-main-hot {
  margin-top: 20px;
  h2 {
    font-size: 24px;
    font-weight: 100;
  }
}
//   热门品牌
.layout-main-brand {
  margin-top: 20px;
  h2 {
    font-size: 24px;
  }
  .brand-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    .brand-item {
      border-left: 1px solid #efefef;
      border-top: 1px solid #efefef;
    }
  }
}
