.search-main {
  margin-top: 20px;
  margin-bottom: 50px;

  .not-product {
    margin-top: 30px;
    padding: 120px 0 120px 220px;
    background-color: #eee;
    img {
      width: 150px;
    }
    .not-product-title {
      width: 500px;
      margin-left: 30px;
      p {
        font-size: 12px;
        &:first-child {
          padding: 5px 0;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }

  .search-content {
    margin-top: 20px;
    align-items: inherit;
  }
  .search-left {
    width: 988px;
    font-size: 12px;
  }

  //   商品筛选面包屑开始
  .product-screen {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 30px;
    color: #777;
    .product-screen-title {
      font-weight: bold;
    }

    .product-screen-sub{
        padding-left: 5px;
    }
    .product-screen-item {
      display: inline-block;
      border: 1px solid #dadada;
      padding: 5px 8px;
      font-size: 12px;
      color: #333;
      cursor: pointer;
      .product-screen-content {
        display: inline-block;
        max-width: 60px;
        vertical-align: sub;
        color: #ff0000;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  //   商品筛选面包屑结束

  //   产品筛选功能开始
  .screen-box {
    border: 1px solid #ddd;
    .screen-type {
      display: flex;
      border-bottom: 1px solid #dadada;
      background-color: #eee;
      &:last-child {
        border: 0;
      }
    }
    .screen-name {
      width: 10%;
      padding: 10px 0;
      text-align: center;
      background-color: #f3f3f3;
    }
    // 不是多选时候的状态展示开始
    .screen-not-selection {
      display: flex;
      width: 90%;
      .screen-content {
        width: 86%;
        height: 36px;
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        overflow: hidden;
        &.active {
          height: auto;
        }
        .sreen-item {
          padding: 10px 0;
          margin-right: 15px;
          color: #2d8ef3;
          cursor: pointer;
          &:hover {
            color: #ff0000;
            text-decoration: underline;
          }
        }
      }
      .screen-more,
      .screen-checkbox {
        width: 7%;
        padding: 10px 0;
        text-align: center;
        background-color: #fff;
        cursor: pointer;
        i {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-left: 5px;
          background: url("../assets/image/sprites.png") no-repeat -43px -126px;
          vertical-align: middle;
          &.active {
            background-position-x: -62px;
          }
        }
      }

      .screen-checkbox {
        background-color: #eee;
        i {
          width: 14px;
          height: 14px;
          background-position: -81px -122px;
          margin-right: 5px;
        }
      }
    }
    // 不是多选时候的状态展示结束

    // 多选时候的状态展示开始

    .screen-selection {
      width: 90%;
      background-color: #fff;
      .screen-content {
        padding: 0 20px;
        .el-checkbox {
          padding: 6px 0;
        }
      }
      .select-btn {
        padding: 8px 0;
        text-align: center;
      }
    }
    // 多选时候的状态展示结束
  }
  //   产品筛选功能结束

  //   产品按条件排序开始
  .sort-box {
    position: relative;
    margin-top: 20px;
    // 价格范围开始
    .price-range {
      position: absolute;
      display: flex;
      top: -41px;
      left: 400px;
      line-height: 39px;
      padding: 0 10px;
      box-sizing: border-box;

      z-index: 1000;
      &:hover {
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom: 0;
        box-shadow: 3px 3px 3px #888888;
        .range-btn {
          display: block;
        }
      }
      .range-btn {
        display: none;
        position: absolute;
        top: 39px;
        left: -1px;
        width: 101.5%;
        padding: 0 10px;
        border: 1px solid #ddd;
        border-top: 0;
        background-color: #fff;
        text-align: center;
        box-shadow: 3px 3px 3px #888888;
      }
    }
    // 价格范围结束

    // 商品总数开始
    .priduct-amount {
      display: flex;
      position: absolute;
      top: -39px;
      right: 30px;
      line-height: 40px;
      .amount-box {
        margin-right: 20px;
        .amount {
          color: #ff0000;
        }
      }
      .paging-box {
        .current-page {
          color: #ff0000;
        }
        i {
          cursor: pointer;
          &:hover {
            color: #ff0000;
            text-decoration: underline;
          }
        }
      }
    }
    // 商品总数结束

    // 处方、非处方、是否有货选项开始
    .el-checkbox-group {
      position: absolute;
      top: 10px;
      left: 20px;
    }
    // 处方、非处方、是否有货选项结束
  }
  //   产品按条件排序结束

  // 搜索出来的产品结果开始
  .search-content-box {
    margin-top: 20px;
    text-align: center;
    .search-product-sub {
      display: flex;
      flex-wrap: wrap;
      .search-product-item {
        width: 25%;
        border: 3px solid transparent;
        &:hover {
          border-color: #fafafa;
          .pic {
            border-color: #eee;
            z-index: 10;
          }
          .pic-name {
            height: auto;
            overflow: inherit;
          }
        }
        .pic {
          display: block;
          height: 326px;
          padding: 20px;
          border: 1px solid transparent;
          box-sizing: border-box;
          overflow: hidden;
        }
        .pic-img {
          margin-bottom: 20px;
          img {
            width: 100%;
          }
        }
        .pic-name {
          height: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
            color: #ff0000;
            text-decoration: underline;
          }
        }
        .pic-box {
          display: flex;
          justify-content: space-between;
          height: 30px;
          line-height: 30px;
          .new-pic {
            font-size: 20px;
            color: #ff0000;
          }
          .old-pic {
            text-decoration: line-through;
            color: #999;
          }
        }
      }
    }
  }
  // 搜索出来的产品结果结束

  //   右边广告推广开始
  .search-right {
    flex: 1;
    margin-left: 20px;
    border: 1px solid #dadada;
    overflow: hidden;
    .right-title {
      padding: 10px 0;
      text-align: center;
      background-color: #dadada;
    }
    .right-product-item {
      padding: 10px 0;
      border-bottom: 1px dashed #dadada;
      &:last-child {
        border-bottom: none;
      }
      .right-img {
        padding: 20px;
        img {
          width: 100%;
        }
      }
      .right-name {
        padding: 0 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .right-box {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        line-height: 26px;
        span {
          color: #999;
          &:first-child {
            font-size: 20px;
            color: #ff0000;
          }
          &:last-child {
            text-decoration: line-through;
          }
        }
      }
    }
  }

  //   右边广告推广结束
}
